<%= stylesheet_link_tag    'my_page', media: 'all', 'data-turbolinks-track' => true %>

<div class="account_box">
    <!--<img src="back7.gif" alt="my picture">-->
    <div class="account">
        <p>이름 &nbsp&nbsp : <%= current_user.name %></p>
        <p>이메일 : <%= current_user.email %></p>
        <div>
            <input type="button" value="사진 변경">
            <input type="button" value="비밀번호 변경">
        </div>
    </div>
</div>

<div class="new">
    <input type="button" value="새 여행 일정 만들기" onclick="window.location.href = '/home/new';">
</div>

<div class="save_box">
    <% for i in 0..(@travel.count.to_i) -1 %>
        <div class="card">
            <div id="title">
                <p>친구랑 <%= @position[i] %> 여행</p> 
            </div>
            <hr>
            <div id="content">
                <div id="date_box">
                    <p><b><%= (@one[i].to_i)-1%>박 <%= @one[i].to_i %>일</b>동안</p>
                    <p><b><%= @position[i] %></b>에서</p>
                </div>
                <div id="plan_box">
                    <% for j in 0..(@one[i].to_i)-1%>
                        <div id="plan">
                            <span id="circle"> <p style="font-size:13px;">Day <%= j+1 %></p> </span>
                            <span id="detail">
                             <p><%= @hashdata[i][j] %></p>
                            </span>
                        </div>
                    <% end %>
                </div>
            </div>
            <!--<div id="manage">-->
            <!--    <input type="button" value="전체보기">-->
            <!--    <input type="button" value="수정">-->
            <!--    <input type="button" value="삭제" onclick="alert('일정을 삭제하면 복구가 불가능 합니다.\n삭제하시겠습니까?')">-->
            <!--</div>-->
        </div>
    <% end %>
</div>

<div id="withdraw">
    <input type="button" value="탈퇴하기" onclick="alert('탈퇴하면 모든 데이터가 지워지고 복구가 불가능 합니다.\n탈퇴하시겠습니까?')">
</div>