<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <%=link_to 'Travelan Traplan', root_path, id:'logo'%>

<!--    nav bar-->
    <nav class="collap">
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to 'Home', root_path %></li>
        <li><%=link_to '게시판', notes_path %></li>
        <% if user_signed_in? %>
          <%= current_user.email %>
          <li><%=link_to '로그아웃', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to '회원가입', new_user_registration_path %></li>
          <li><%= link_to '로그인', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

</header>