<!DOCTYPE html>
<html>
<head>
  <title>Fashion</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
<!--  <footer class="container">-->
<!--    <hr class="my-1" />-->
<!--    <small>-->
<!--      <a href="https://github.com/neovansoarer">Kihoon's Github</a>-->
<!--      <a href="https://likelion.net">Likelion Homepage</a>-->
<!--    </small>-->
<!--    <nav>-->
<!--      <ul>-->
<!--        <li></li>-->
<!--        <li></li>-->
<!--        <li></li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </footer>-->
</body>
</html>